<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Water Sharing</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="header">
    <img src="/images/logo.jpg" alt="Logo" class="logo">
    <h1>Garuda Nest Water Sharing</h1>
</div>
<form action="/garudanest-tanker/calculate" method="post" th:object="${flatForm}">
    <p>
        <label for="tankerCost">Tanker Cost:</label>
        <input type="number" id="tankerCost" name="tankerCost" step="0.01" required />
    </p>
    <table border="1">
        <tr>
            <th>Flat Number</th>
            <th>Adults</th>
            <th>Kids (< 5 years)</th>
            <th>Relatives</th>
        </tr>
        <tr th:each="flat, iterStat : ${flatForm.flats}">
            <td th:text="${flat.flatNumber}" class="flat-number"></td>
            <td><input type="number" th:field="*{flats[__${iterStat.index}__].adults}" min="0" class="table-input" /></td>
            <td><input type="number" th:field="*{flats[__${iterStat.index}__].kids}" min="0" class="table-input" /></td>
            <td><input type="number" th:field="*{flats[__${iterStat.index}__].relatives}" min="0" class="table-input" /></td>
        </tr>
    </table>
    <button type="submit">Calculate</button>
</form>

<p th:if="${error}" style="color: red;" th:text="${error}"></p>

<footer>
    <p>&copy; 2024 Tharun Naik</p>
</footer>

</body>
</html>
